= render 'landing_carousel'
br
br
= render 'ceremonies_section'
= render 'photo_section'
= render 'layouts/footer'
= render 'home/wedding_invitation_card_modal'
= render 'home/singapore_lunch_map_modal'
